
.vs/POS/DesignTimeBuild/.dtbcache.v2

.vs/POS/FileContentIndex/08b8c52f-b0f9-4a02-8ee6-683a77773c35.vsidx

.vs/POS/FileContentIndex/207c676d-0fcd-498c-b534-aa23e9aeacb6.vsidx

.vs/POS/FileContentIndex/349cc153-fce1-4088-921a-bb853f1e391f.vsidx

.vs/POS/FileContentIndex/832e2c5c-67e7-4afa-88d9-a8eff9b9202a.vsidx

.vs/POS/FileContentIndex/read.lock

.vs/POS/v17/.futdcache.v2

.vs/POS/v17/.suo

.vs/ProjectEvaluation/pos.metadata.v6.1

.vs/ProjectEvaluation/pos.projects.v6.1
